body {
    background-color: #f2eee6;
    color: rgba(0,0,0,.8);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 1.5em;
    max-width: 40em;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #936;
}

:first-child {
    margin-top: 0;
}

h2 {
    background-color: #936;
    color: white;
    margin-left: -.375em;
    margin-right: -.375em;
    padding: 0 .375em;
}

h3 {
    border-bottom: 1px solid;
}

li {
    margin-bottom: .75em;
}

ol, ul {
    margin: .75em 0;
}